{# templates/dahlia.html #}
{% extends "page1.html" %}

{% block content %}
    <h1>Flower: {{ title }}</h1>
    <p>Dahlia! Such a beautiful flower. There's something mysteriously elegant about it, don't you think? With its myriad of colors and intricate petal formations, it's no wonder why it's often associated with meanings like inner strength, elegance, and dignity. Plus, they come in so many varieties, from the simple and classic to the extravagantly flamboyant.</p>
    <img src="https://cdn11.bigcommerce.com/s-1b9100svju/images/stencil/1280x1280/products/1879/6723/Dahlia_Arbian_Night_Main__84397.1709742128.jpg?c=1" width="180px" class="card-img-top" alt="...">
{%endblock content%}