{# templates/lily.html #}
{% extends "page1.html" %}

{% block content %}
    <h1>Flower: {{ title }}</h1>
    <p>Oh, Lily... Their graceful shape and captivating fragrance make them popular choices in gardens and floral arrangements alike. Lilies come in various colors, each with its own symbolic meaning. For instance, white lilies often symbolize purity and virtue, while orange lilies convey passion and energy.</p>
    <img src="https://westmountflorist.com/cdn/shop/articles/wf-flower-reference-guide-lily.jpg?v=1697056484&width=2048" width="180px" alt="">
{% endblock content %}