<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
</head>
<body>
    <form method="POST">
        <label>Enter Name: </label>
        <input id="name" type="text" name="name"
        placeholder="Enter your name" required><br/>

        <label>Enter Email: </label>
        <input id="email" type="text" name="email"
        placeholder="Enter email" required><br/>

        <label>Enter Group: </label>
        <input id="gr" type="text" name="gr"
        placeholder="Enter your group" required><br/>

        <label>Enter Direction: </label>
        <input id="direction" type="text" name="direction"
        placeholder="Enter your direction" required><br/>

        <label>Enter Date: </label>
        <input id="joining_date" type="text" name="joining_date"
        placeholder="Enter date" required><br/>

        <label>Enter Age: </label>
        <input id="age" type="text" name="age"
        placeholder="Enter your age" required><br/>

        <label>Enter Salary: </label>
        <input id="slary" type="number" name="salary"
        placeholder="Enter your salary" required><br/>

        <input type="submit" value="submit"><br/>
    </form>
</body>
</html>